name: Scala BPE Application CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Cache sbt dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-

      - name: Install sbt
        run: |
          curl -L https://github.com/sbt/sbt/releases/download/v1.9.3/sbt-1.9.3.tgz | tar xz
          export PATH=$PWD/sbt/bin:$PATH

      - name: Run unit tests
        run: sbt test

      - name: Run main application
        run: sbt "runMain com.genai.sandbox.BPEApp"
